{% extends 'base.html.twig'%}

{% block body %}
    
<br><br><br><br>
    <div class="container">

    <h1> Error 404 </h1>
    <h2 class="section-title primary-text">Oops, something went wrong...</h2>

    <p class="section-sub"> 
        Our team is working on it. We are sorry for this inconvenience.
    </p>

    </div>
    <br><br>
{% endblock %}